<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Club Project | Book your Personal Trainer sessions online</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.min.css') }}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</head>
<body>

    <!-- Navigation bar from bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand" href="index.html">My Health Club Project</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pt.html">Personal Trainer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="member.html">Member</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <!-- Page Header -->
    <header>
        <img class="background-image" alt="background-image" src="static/img/pexels-victor-freitas-841130.jpg"
        
        <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}">About</a></li>
            <li><a href="{{ url_for('pt') }}">Personal Trainer</a></li>
            <li><a href="{{ url_for('member') }}">Members</a></li>
        </ul>
        </nav>

    <h1>My health club Project</h1> 

    </header>

    <!-- Main Content -->
    <main>
        <section class="banner">
            <div class="swiper-container slideshow-top swiper-container-fade swiper-container-initialized swiper-container-horizontal">
                <img class="swiper-slide swiper-slide-prev"

            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        </ul>
                    <p class="copyright text-muted">Copyright &copy; For educational purposes only <span id="copyright"></span></p>
                </div>
            </div>
        </div>
    </footer>

    {% block content %}
    {% endblock %}

</body>
</html>